/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.webchangedetector {
    max-width: 98%;
}

.webchangedetector table {
    border-spacing: 0;
    margin-top: 20px;
    border: 1px solid #ccc;
}

.webchangedetector table.no-margin {
    margin-top: 0;
}

.webchangedetector table tr td {
    border-top: 1px solid #aaa;
}

.webchangedetector tr th {
    text-align: left;
    background: #c9e0fe;
    color: #333;
}

.webchangedetector td,
.webchangedetector th {
    padding: 10px;
}

.webchangedetector table.toggle tr:nth-child(even) {
    background-color: #fff;
}

.webchangedetector .pagination {
    text-align: center;
}

.webchangedetector td.is-difference {
    background: darkred;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
}

.webchangedetector td.no-difference {
    background: darkgreen;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
}

.webchangedetector hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.webchangedetector .image1,
.webchangedetector .image2,
.webchangedetector .comp_image {
    float: left;
    margin-right: 1%;
    width: 32%;
}

.webchangedetector .image1 img,
.webchangedetector .image2 img,
.webchangedetector .comp_image img {
    border: 1px solid #eee;
    padding: 2px;
    width: 100%;
}

.webchangedetector label {
    display: inline-block;
    min-width: 150px;
}

.webchangedetector ul li {
    list-style: disc;
    margin-left: 15px;
}

.webchangedetector .mm_processing_container {
    background: #fff2db;
    border: 1px solid #adadad;
    padding: 20px;
}

.webchangedetector .mm_accordion_title {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #276ECC;
    margin: 0 auto 15px;
    padding: 0;
}

.webchangedetector h3 {
    margin: 0 0;
}

.webchangedetector .mm_accordion_title small {
    font-weight: normal;
}

.webchangedetector .accordion:hover {
    cursor: pointer;
}

.webchangedetector .ui-accordion .ui-accordion-header,
.webchangedetector .ui-accordion .ui-accordion-content {
    background: none;
    height: 100% !important;
}

.webchangedetector .ui-accordion .ui-accordion-header,
.webchangedetector .ui-accordion .ui-accordion-content {
    border: none !important;
}

.webchangedetector .ui-state-focus {
    border-width: 1px !important;
}
.webchangedetector .ui-accordion .ui-accordion-content {
    border-radius: 3px;
}

.webchangedetector .ui-accordion .ui-accordion-icons {
    padding: 20px;
}

.webchangedetector .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none;
}

.webchangedetector .action-container {
    float: left;
    margin-right: 20px;
    width: calc(100% - 400px);
    min-width: 400px;
}

.webchangedetector .sidebar {
    float:left;
    width: 300px;

}

.webchangedetector .help-box,
.webchangedetector .account-box {
    background: #276ECC;
    color: #fff;
    padding: 0 10px;
    display: block;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
}

.webchangedetector .help-box h2,
.webchangedetector .help-box h3,
.webchangedetector .account-box h2,
.webchangedetector .account-box h3{
    color: #fff;
}
.webchangedetector .account-box a.account {
    border-color: #fff;
    float:right;
}
.webchangedetector .account-box a.account:hover{
    background: rgba( 255,255,255,0.7);
    border-color:#fff;
}


.webchangedetector .help-box h3 {
    font-weight: 400;
}

.webchangedetector .queue-status-open {
    background: #eee;
}
.webchangedetector .queue-status-processing
{
    background: rgba( 254, 204, 48, 0.3);
}
.webchangedetector .queue-status-done {
    background: #E7F2E7;
}
.webchangedetector .queue-status-failed {
    background: #ce8080;
}

/********
Dashboard
 *******/

.webchangedetector .dashboard {
    max-width: 1024px;
    margin: 0 auto;
}

.webchangedetector .dashboard .box-plain {
    padding: 15px 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    display:block;
    margin-bottom: 3px;
}

.webchangedetector .dashboard .box {
    padding: 15px 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    display:block;
    border-left: 5px solid #ddd;
    margin-bottom: 3px;
}
.webchangedetector .dashboard .box.featured {
    background: #276ECC;
    color: #fff;
    border-color: #1a5294;
}
.webchangedetector .dashboard .box.featured:hover {
    background: rgba(39, 110, 204, 0.8);
    color: #fff;
}

.webchangedetector .dashboard .box.last {
    margin-right: 0;
}

.webchangedetector .dashboard .box:hover {
    background: #eee;
    border-left: 5px solid #276ECC;
}

.webchangedetector .dashboard .box-half {
    border: 3px solid #276ECC;
    border-radius: 5px;
    margin: 10px auto;
    width: 45%;
    float: left;
    padding: 0 20px ;
}

.webchangedetector .dashboard .box-half.usages {
    background: rgb(246, 250, 254);
}


.webchangedetector .dashboard .box-half.no-border {
    border: none;
    padding-left: 0;
}

.webchangedetector .dashboard .box-half.last {
    margin-right: 0;
}

.webchangedetector .dashboard .box-half hr{
    margin-top:5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-bottom: 0;
}