/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.webchangedetector {
    max-width: 98%;
}

.webchangedetector table {
    border-spacing: 0;
}

.webchangedetector table tr td {
    border-top: 1px solid #aaa;
}

.webchangedetector td,
.webchangedetector th {
    padding: 10px;
}

.webchangedetector tr:nth-child( even ) {
    background-color: #fff;
}

.webchangedetector .pagination {
    text-align: center;
}

.webchangedetector td.is-difference {
    text-align: center;
    background: darkred;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.webchangedetector td.no-difference {
    text-align: center;
    background: darkgreen;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.webchangedetector hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.webchangedetector .image1,
.webchangedetector .image2,
.webchangedetector .comp_image {
    width: 32%;
    float: left;
    margin-right: 1%;
}

.webchangedetector .image1 img,
.webchangedetector .image2 img,
.webchangedetector .comp_image img {
    border: 1px solid #eee;
    padding: 2px;
    width: 100%;
}

.webchangedetector label {
    min-width: 150px;
    display: inline-block;
}

.webchangedetector ul li {
    list-style: disc;
    margin-left: 15px;
}

.webchangedetector .mm_processing_container {
    padding: 20px;
    background: #fff2db;
    border: 1px solid #adadad;
}

.webchangedetector .mm_accordion_title {
    background: #e8e8e8;
    padding: 20px;
    border: 1px solid #adadad;
    margin: 5px auto;
}

.webchangedetector h3 {
    margin: 0 0;
}

.webchangedetector .mm_accordion_title small {
    font-weight: normal;
}

.webchangedetector .accordion:hover {
    cursor: pointer;
}

.webchangedetector .ui-accordion .ui-accordion-header,
.webchangedetector .ui-accordion .ui-accordion-content {
    background: none;
    border: none;
    height: 100% !important;
}

.webchangedetector .ui-accordion .ui-accordion-icons {
    padding-left: 0;
}

.webchangedetector .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none;
}

.webchangedetector .queue-status.open {
    background: #eee;
}
.webchangedetector .queue-status.processing
{
    background: rgba( 254, 204, 48, 0.3);
}
.webchangedetector .queue-status.done {
    background: #E7F2E7;
}